=form_for(@document) do |f|
  %dl
    %dt.name=f.label :name
    %dd.name=f.text_field :name
    %dt.slug=f.label :slug
    %dd.slug=f.text_field :slug
    %dt.tags=f.label :tag_list, 'Tags'
    %dd.tags
      =f.text_field :tag_list
      %span.help_text Lower case and separated by commas
    %dt.content=f.label :content
    %dd.content=f.text_area :content
  .buttons=f.submit 'Save'
