-content_for(:head) do
  =javascript_include_tag('jquery-ui')
  =javascript_include_tag('SmartTextBox')
  =stylesheet_link_tag('jquery/smart_text_box/SmartTextBox')
  :javascript
    $(document).ready(function() {
      // Tagging
      $('#document_tag_list').smartTextBox({
        submitChars: [#{AppConfig.ui.tagging.delimiter.to_json}],
        separator: #{", ".to_json},
        autocompleteValues: #{AppConfig.ui.tagging.suggest.tags.to_json},
        minSearchLength: #{AppConfig.ui.tagging.suggest.min_length},
        placeholder: "Start typing for suggested tags"
      });
    });

=render('shared/wysiwyg')

=form_for(@document) do |f|
  %dl
    %dt.name=f.label :name
    %dd.name=f.text_field :name
    %dt.slug=f.label :slug
    %dd.slug=f.text_field :slug
    %dt.tags=f.label :tag_list, 'Tags'
    %dd.tags
      =f.text_field :tag_list, :maxlength => "15"
      %span.help_text Lower case and separated by spaces
    %dt.content=f.label :content
    %dd.content=f.text_area :content
  .buttons=f.submit 'Save'
