%h2 Documentation

!=form_tag(documents_path, :class => 'search', :method => :get) do
  !=hidden_field_tag(:tag, params[:tag])
  !=label_tag(:search, 'Search')
  !=text_field_tag(:search, params[:search])
  !=submit_tag('Search')

.search_results
  !=render('documents', :documents => @documents)
            
!=render('index_aside')
